@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	width: 600px;
    margin: auto;
	font-family: 'Roboto', sans-serif;
}


.row {
	padding-bottom: 10px;
}

header {
	margin-top: 20px;
	text-align: center;
	font-weight: 700;
}

hr {
	margin: 0px;
	margin-bottom: 5px;
	padding: 0px;
}

label {
	font-weight: 400;
	padding-left: 1px;
}

h5 {
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 5px;
}

.btn {
	padding: 10px;
	font-size: 15px;
	text-transform: uppercase;
	float: right;
	margin: 0;
	margin-top:20px!important;
}