@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
    background-color: white;
    font-family: 'Cabin', sans-serif;
}

.formulario {
    width: 600px;
    margin: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #495057;
    padding: 30px;
    margin-top: 20px;

}

input, select, label {
    font-weight: 400;
}

.titulo {
    text-align: center; 
    margin-bottom: 20px; 
    margin-top: 10px;
    font-weight: 300;
    color: #17a2b8;
}

